<div class="container">
<h1>{{titulo}}</h1>
<div class="d-flex flex-column">
    <label for="">Nombre
        <input id="name" type="text" disabled>
    </label>
    <label for="">Mensaje</label>
    <textarea class="w-50" name="" id="msg" cols="5" rows="3"></textarea>
    </label>
    <button class="w-25 mt-2" id="buton">Enviar</button>
</div>
<div id="mensajes">

</div>
</div>
{{!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/js/chat.js"></script> --}}